<!--
    Jake Suhoversnik
    1/18/19
    Assignment 1 Dating website
    home.html

    Default view, landing page for dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dating Website</title>

    <!--Bootstrap Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<div class="container border mt-3">
    <div class="row">
        <form action="personal" method="post" class="col-md-5">
            <h1 class="text-center">My Dating Website</h1>

            <!--Site Bio-->
            <p>Welcome to the web's most successful dating website. At
                <span class ="font-weight-bold">My Dating Website</span>
                you'll meet other like minded individuals. We have the highest success rate
                of couples on the web. User's are matched by interest and location. Find out why so many
                others have found love on our site!</p>
            <h4 class="text-center">Hear what our users are saying about us.</h4>
            <hr>
            <!--Customer reviews-->
            <p>"I met the love of my life after only a month!" - Andrea</p>

            <p>"It was so easy to set up a profile and start meeting people. I didn't realize how many others
                were looking for love in my area." - John Smith</p>

            <p>"Just try it! You'll never be the same!" - Sarah</p>
            <hr>
            <div class="text-center mb-3">
                <button class="btn btn-primary" type="submit">Create a Profile!</button>
            </div>
        </form>

        <section class="col-md-7">
            <img src="images/main.jpg" alt="Happy Couple" class="rounded img-fluid mt-4">
        </section>

    </div>
</div>

<!--Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>