<!--
    Jake Suhoversnik
    1/18/19
    Assignment 1 Dating website
    home.html

    Default view, landing page for dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>

    <!--Bootstrap Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<div class="container border mt-3">
    <form class="row m-3"  action="#" method="post">
        <section class="col-12 mt-3">
            <h1 class="">Personal Information</h1>
            <hr>
        </section>

        <section class="col-md-8">

            <!--Site Bio-->
            <div>

                <div class="form-group">
                    <check if="{{isset(@errors['fname'])}}">
                        <p>{{@errors['fname']}}</p>
                    </check>

                    <label class="font-weight-bold" for="fname">First Name:</label>
                    <input type="text" class="form-control" id="fname" name="fname" value="{{@SESSION.fname}}">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="age">Age:</label>
                    <input type="number" class="form-control" id="age" name="age">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="gender1">Gender:</label>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" id="gender1" name="gender" value="male" checked> Male</label>
                        <label class="radio-inline"><input type="radio" name="gender" value="female"> Female</label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="font-weight-bold" for="phone">Phone Number:</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>


            </div>
        </section>

        <div class="col-md-4 mt-4">
            <div class="border bg-light p-2 rounded">
                <p><span class="font-weight-bold">Note: </span>All information entered is protected by our <a
                        href="">privacy policy</a>. Profile information can only be viewed by others with your permission.</p>
            </div>
        </div>

        <div class="col text-right mr-3 mb-3">
            <button class="btn btn-primary" type="submit">Next ></button>
        </div>
    </form>
</div>


<!--Bootstrap scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html></title>
</head>
<body>