<!--
    Jake Suhoversnik
    1/31/19
    Assignment 2 Dating website
    profile.html

    profile information page, contains email, state, seeking, and bio
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <!--Bootstrap Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

<div class="container border mt-3">
    <form class="row m-3" action="#" method="post">
        <section class="col-12 mt-3">
            <h1>Profile</h1>
            <hr>
        </section>

        <section class="col-md-6">

            <!--Site Bio-->
            <div>

                <div class="form-group">
                    <label class="font-weight-bold" for="email">Email:</label>

                    <check if="{{isset(@errors['email'])}}">
                        <p>{{@errors['email']}}</p>
                    </check>

                    <input type="email" class="form-control" id="email" name="email" value="{{@SESSION.email}}">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="state">State:</label>
                    <select class="form-control" id="state" name="state">
                        <repeat group="{{@states}}" value="{{@stateOption}}">
                            <option value="{{@stateOption}}"
                            <check if="@stateOption == @SESSION.state">
                                selected
                            </check>
                            > {{@stateOption}}</option>
                        </repeat>
                    </select>
                </div>

                <!--Male is checked by default, use conditional to change checked to female for sticky forms-->
                <div class="form-group">
                    <label class="font-weight-bold" for="seeking">Seeking:</label>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" id="seeking" name="seeking"
                                                           value="Male" checked > Male</label>
                        <label class="radio-inline"><input type="radio" name="seeking" value="Female"
                            <check if="{{@SESSION.seeking}} == Female" >
                                checked
                            </check>> Female</label>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold" for="bio">Biography:</label>
                <textarea class="form-control" rows="5" id="bio" name="bio">{{@SESSION.bio}}</textarea>
            </div>
        </div>

        <div class="col text-right mr-3 mb-3">
            <button class="btn btn-primary" type="submit">Next ></button>
        </div>
    </form>
</div>


<!--Bootstrap scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>